# The URL where Ollama is running
NEXT_PUBLIC_OLLAMA_API_URL=https://floury-hyacinth-renovative.ngrok-free.dev/api/generate
# http://localhost:11434/api/generate

# The model name pulled in Ollama
NEXT_PUBLIC_OLLAMA_MODEL=llama3